.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card{
  width: 200px;
  display: inline-block;
  margin: 2%;
}

.card img{
  width: 200px;
}

a{
  text-decoration: none;
}

.divider{
  color: red;
}

.detailsBox{
  margin: auto;
  width: 70%;
  min-width: 450px;
  max-width: 700px;
}

/* React - Transition */
.fade-appear{
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-enter{
  opacity: 0;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}
